/* Variables */

:root {
  --basic-black: #000000;
  --basic-light-gray: #EEEEEE;
  --basic-gray: #EBEBEB;
  --basic-special-gray: #666666;
  --basick-dark-gray: #333333;
  --basic-white-smoke: #F2F2F2;
  --basic-white: #ffffff;
  --basic-light-blue: #81B3D2;
  --basic-blue: #669EC0;
  --basic-dark-blue: #5496BD;
  --basic-brown: #766357;
  --basic-light-brown: #333333;
  --basic-brown: #604E43;
  --basic-dark-brown: #503E33;
}

/* Global */

body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: var(--basick-dark-gray);
  text-transform: uppercase;
  background-color: var(--basic-light-gray);
}

.intro {
  width: 1200px;
  height: 509px;
  margin: 0;
  text-align: center;
  background: url("../img/background.jpg") no-repeat center top / cover;
}

.intro svg {
  width: 1200px;
  padding-top: 19px;
}

.intro img {
  margin-top: 77px;
}

.main-causes {
  background-color: white;
}

.title {
  margin: 0;
  padding-top: 42px;
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-black);
}

p {
  color: var(--basic-light-brown)
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Grid */

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

/* Main header */

.main-header {
  width: 1200px;
  height: 56px;
  margin: 0 auto;
  background-color: var(--basic-white);
}

/* Main navigation */

.main-navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 16px;
  line-height: 20px;
  color: var(--basic-black);
  background-color: transparent;
}

.main-navigation-wrapper {
  width: 100%;
  margin-bottom: 60px;
  background-color: var(--basic-white);
}

/* Logo */

.main-header-logo {
  position: absolute;
  order: 2;
  width: 138px;
  height: 70px;
}

/* Container */

.container {
  width: 1200px;
  margin: 0 auto;
}

.main-navigation .container {
  display: flex;
}

.main-navigation-wrapper .container {
  display: flex;
  justify-content: space-between;
}

/* Site Navigation */

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
  min-height: 70px;
}

.site-navigation a {
  color: var(--basic-black);
  display: block;
  padding: 15px 20px;
}

.site-navigation a:hover,
.site-navigation a:focus{
  color: var(--basic-blue);
}

/* Causes */

.title-causes {
  text-align: center;
}

.title-causes h2 {
  padding-bottom: 30px;
  line-height: 26px;
}

.title-causes p {
  padding-bottom: 51px;
}

.causes-list-line h3 {
  padding-top: 25px;
  padding-bottom: 20px;
}

.causes {
  margin-bottom: 54px;
}

.causes-list-line {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0 auto;
  list-style: none;
}

.causes-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.causes-item {
  width: 310px;
  text-align: center;
}

.causes-item h3 {
  position: relative;
  margin: 0;
  margin-top: 25px;
  margin-bottom: 25px;
  font-size: 21px;
  line-height: 21px;
}

.causes-item p {
  margin: 0 10px;
}

.causes-item-blue {
  height: 255px;
  text-align: center;
  padding-left: 52px;
  padding-right: 52px;
  color: var(--basic-white);
  background-color: var(--basic-light-blue);
}

.causes-item-blue p {
  color: var(--basic-white);
}

.three-causes {
  padding-top: 60px;
  padding-bottom: 80px;
}

.box-causes-gray {
  margin-top: -7px;
  background-color: var(--basic-light-gray);
}

.title-number {
  padding-bottom: 30px;
}

.box-causes {
  display: flex;
}

/* Search Hotel */

.search-hotels-heading {
  background-color: var(--basic-white);
}

.booking-box {
  text-align: center;
  padding-top: 30px;
}

.title-interested {
  font-size: 30px;
}

.interested-date p {
  padding-top: 10px;
  padding-bottom: 24px;
}

.button-box-search-hotels {
  width: 568px;
  height: 86px;
  border: none;
  background-color: var(--basic-brown);
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.button-box-search-hotels span {
  color: var(--basic-white);
}

.search-container {
  width: 568px;
  height: 395px;
  margin: 0 auto;
  position: relative;
}

.box-booking {
  margin-top: 55px;
}

.box-date {
  margin-top: 35px;
  font-weight: bold;
}

.box-date input {
  width: 346px;
  height: 38px;
  background-color: var(--basic-white-smoke);
  border: none;
}

.box-line {
  display: flex;
  margin-top: 30px;
  margin-bottom: 40px;
}

.box-quantity-name {
  font-weight: bold;
}

.box-quantity {
  display: inline-flex;
}

.bt-minus:hover path,
.bt-minus:focus path,
.bt-plus:hover path,
.bt-plus:focus path {
  fill: var(--basic-black);
}


.box-quantity input{
  width: 114px;
  height: 38px;
  background-color: var(--basic-white-smoke);
  border: none;
}

.button-submit {
  width: 458px;
  height: 58px;
  border: none;
  font-weight: 700;
  font-size: 21px;
  color: var(--basic-white);
  background-color: var(--basic-light-blue);
  text-transform: uppercase;
  margin-bottom: 55px;
}

/* Map */

.interactive-map iframe {
  width: 1200px;
  height: 594px;
  position: absolute;
}

/* Contacts */

.contacts {
  width: 380px;
}

.contacts p {
  margin: 0;
  margin-bottom: 25px;
}

/* Main footer */

.main-footer {
  width: 1200px;
  height: 120px;
  margin: 0 auto;
  color: var(--basic-black);
  background-color: var(--basic-white);
  opacity: 90%;
  margin-top: 490px;
}

.main-footer .container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.footer-contacts {
  width: 320px;
  margin-top: 23px;
  font-size: 21px;
  font-weight: bold;
  text-align: center;
}

.footer-contacts a {
  color: var(--basic-black);
}

.footer-social-list {
  width: 150px;
  margin-top: 36px;
  justify-self: center;
  text-align: center;
}

.footer-social-list ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 150px;
  margin: 0 auto;
  list-style: none;
}

.footer-copyright {
  max-width: 210px;
  margin-top: 38px;
  justify-self: end;
  text-align: center;
}

.button-copyright:hover path,
.button-copyright:focus path {
  fill: var(--basic-light-blue);
}

/* Social button */

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 43px;
  height: 43px;
  background-color: var(--basic-light-blue);
  color: inherit;
}

.social-button:hover,
.social-button:focus {
  background-color: var(--basic-blue);
}

/* Hotel page */

.main-form-settings {
  height: 217px;
  background-image: url("../img/background2.jpg");
  background-repeat: no-repeat;
}

.form-settings {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-left: 71px;
  padding-top: 36px;
  color: var(--basic-white);
}

.form-settings legend {
  font-size: 16px;
  font-weight: 700;
}

fieldset {
  width: 137px;
  height: 157px;
  border: none;
  margin: 0;
  padding: 0;
}

fieldset:nth-child(2) {
  margin-left: -80px;
}

input {
  display: flex;
}

.filter-item {
  margin: 0;
  padding: 0;
  border: none;
}

.range-filter {
  width: 340px;
  margin-top: 20px;
}

.filter-item legend {
  font-size: 16px;
  line-height: 21px;
  text-transform: uppercase;
  font-weight: 700;
}

.range-controls {
  position: relative;
  height: 22px;
  padding: 5px 20px 10px 20px;
  background-color: transparent;
  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;
  background: var(--basic-special-gray);
}

.range-controls .bar {
  width: 248px;
  height: 2px;
  background: var(--basic-white);
}

.range-controls .toggle {
  position: absolute;
  top: -5px;
  width: 4px;
  height: 4px;
  border: 8px solid #ffffff;
  background-color: #ababab;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #ababab;
  cursor: pointer;
}

.range-controls .toggle-min {
  margin-left: -65px;
}

.range-controls .toggle-max {
  margin-left: 80px;
}

.price-controls {
  display: flex;
  justify-content: space-between;
  width: 317px;
  margin-top: 10px;
  background: transparent;
  border: 2px solid white;
  border-radius: 2px;
}

.band {
  position: absolute;
  margin-top: 6px;
  margin-left: 160px;
  width: 2px;
  height: 22px;
  background: var(--basic-white);
}

.price-controls label {
  display: flex;
  text-transform: uppercase;
  font-size: 14px;
  margin: 7px 36px 7px 52px;
}

.price-controls input {
  width: 50px;
  text-align: center;
  color: var(--basic-white);
  border: none;
  background: transparent;
  font-family: inherit;
  font-size: inherit;
}

.button-scale-preview {
  width: 137px;
  height: 36px;
  text-transform: uppercase;
  text-align: center;
  color: var(--basic-white);
  background-color: transparent;
  border: 2px solid white;
  border-radius: 2px;
  margin-left: 85px;
}

.box-sorting {
  display: flex;
}

.box-sorting,
.box-hotel {
  background-color: var(--basic-white);
}

.hotels {
  height: 150px;
  display: grid;
  grid-template-columns: auto 1fr auto;
  border-bottom: 1px solid #E5E5E5;
}

.hotels:first-child {
  border-top: 1px solid #E5E5E5;
}

.image-hotel {
  width: 135px;
  height: 90px;
  margin-left: 73px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.hotel-information {
  height: 90px;
  margin-left: 29px;
}

.box-popularity {
  margin-top: 29px;
  margin-right: 73px;
}

.box-stars {
  width: 93px;
  height: 22px;
  background-image: url("../img/icons/star.svg");
  background-position: center;
  background-repeat: repeat-x;
}

.stars-two {
  width: 55px;
  margin-left: 30px;
}

.box-rating {
  width: 110px;
  height: 27px;
  text-transform: uppercase;
  background-color: var(--basic-white-smoke);
  margin-top: 43px;
}
