/* Variables */

:root {
  --basic-black: #000000;
  --basic-light-gray: #EEEEEE;
  --basic-gray: #EBEBEB;
  --basic-special-gray: #666666;
  --basick-dark-gray: #333333;
  --basic-white-smoke: #F2F2F2;
  --basic-white: #ffffff;
  --basic-light-blue: #81B3D2;
  --basic-blue: #669EC0;
  --basic-dark-blue: #5496BD;
  --basic-brown: #766357;
  --basic-light-brown: #333333;
  --basic-brown: #604E43;
  --basic-dark-brown: #503E33;

}

/* Global */

body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: var(--basick-brown);
  text-transform: uppercase;
  background-color: var(--basic-light-gray);

}

.header-background {
  background-image: url("../img/background.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  text-align: center;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Main header */

.main-header {
  background-color: var(--basic-white);
  margin-bottom: 70px;
}

/* Logo */

.main-header-logo {
  order: 2;
  width: 368px;
  height: 153px;
}


.main-navigation-wrapper {
  width: 100%;
  margin-bottom: 60px;
  padding: 0 10px;
  background-color: var(--basic-white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

/* Main navigation */

.main-navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
  line-height: 26px;
  color: var(--basic-black);
}

/* Site Navigation */

.site-navigation {
  width: 1200px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-navigation a {
  color: var(--basic-black);
}

/* Container */

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}

/* Causes */

.main-title-causes {
  margin-bottom: 54px;
}

.causes {
  margin-bottom: 80px;
}

.causes-list {
  margin: 0;
  padding: 0;
}

.causes-list-columns {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.causes-item p {
  margin: 10px;
}

.causes-item {
  width: 350px;
  text-align: center;
}

.causes-item-blue {
  text-align: center;
  padding: 20px;
}


.box-causes {
  justify-content: space-between;
  display: flex;
  width: px;
}


/* Button */

.button-submit {
  text-align: center;
  color: var(--basic-white);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--basic-light-blue);
  border: none;
}

.button-submit:hover,
.button-submit:focus,
.button-submit:active {
  background-color: var(--basic-blue);
}

.button-details {
  font: inherit;
  text-align: center;
  color: var(--basic-white);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--basic-light-blue);
}

.button-details:hover,
.button-details:focus,
.button-details:active {
  background-color: var(--basic-blue);
}

.button-reservation {
  font: inherit;
  text-align: center;
  color: var(--basic-white);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--basic-brown);
}

.button-reservation:hover,
.button-reservation:focus,
.button-reservation:active {
  background-color: var(--basic-dark-brown);
}

/* Main */

.main-header,
.main-title-causes,
.search-hotels-heading,
.box-sorting,
.box-hotel {
  background-color: var(--basic-white);
}

.box-causes-gray {
  background-color: var(--basic-light-gray);
}

.causes-list-columns,
.causes-list,
.sorting-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.title div,
.sorting div {
  list-style: none;
}

.title {
  font-size: 21px;
  line-height: 26px;
}

.main-title,
.search-hotels-heading {
  text-align: center;
}

.button-box-search-hotels {
  color: var(--basic-white);
  background-color: var(--basic-brown);
}

.button-box-search-hotels:hover,
.button-box-search-hotels:focus,
.button-box-search-hotels:active {
  background-color: var(--basic-dark-brown);
}

.main-form-settings {
  background-image: url("../img/background2.jpg");
  background-position: top center;
  background-repeat: no-repeat;
}

.form-settings {
  display: flex;
  justify-content: space-between;
  color: var(--basic-white);
}

fieldset:nth-child(2) {
  margin-right: 250px;
}

.box-sorting {
  display: flex;
  margin-bottom: 40px;
}

.hotels {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  margin-bottom: 25px;
  border-bottom: 1px solid #E5E5E5;
}

.hotels:first-child {
  border-top: 1px solid #E5E5E5;
}

.image-hotel {
  margin: 40px;
  margin-left: 73px;
}

.hotel-information {
  margin-right: 550px;
  padding: 0;
}

span {
  color: var(--basick-dark-gray);
}

.box-popularity {
  margin: 30px;
  line-height: 50px;
  justify-self: end;
}

.box-rating {
  height: 27;
  width: 110px;
  text-align: center;
  background-color: var(--basic-white-smoke);
  color: var(--basic-special-gray);
}

/* Footer */

.footer-contacts a {
  font-size: 21px;
  line-height: 26px;
  color: var(--basic-black);
}

.main-footer {
  padding: 60px 0;
  margin-top: 65px;
}

.main-footer .container {
  display: flex;
  justify-content: space-between;
}

.footer-contacts {
  margin: 0;
  width: 320px;
}

.footer-phone {
  color: var(--basic-black);
}

.footer-social-list {
  width: 145px;
  justify-self: center;
}

.footer-social-list ul {
  list-style: none;
}

.footer-copyright {
  max-width: 200px;
  margin: 0;
  justify-self: end;
}

.button-copyright:hover,
.button-copyright:focus {
  background-color: var(--basic-blue);
}

/* Social button */

.social-button {
  color: inherit;
}

.social-button:hover,
.social-button:focus {
  background-color: var(--basic-blue);
}
